.nav-bg, .peach-bg {
    background-color: #2C3E50;
}

.offcanvas-header .btn-close:focus {
    outline: none; 
    box-shadow: none; 
}

.mob-menu-bg {
    background-color: #CCCCCC;
}

.nav-text-color{
    color: #D7EBE5;
    margin-left: 4vh;
    text-decoration: none;
}

.nav-text-color:hover {
    color: #a3a3a3;
}

.nav-icon-text {
    display: flex;
    align-items: center; 
    padding: 15px;
}

.nav-icon-text Lottie {
    margin-right: 10px; 
    visibility: visible; 
    
}

.nav-icon-text:hover {
    transform: scale(1.05);
    color: #a3a3a3; 
}


.nav-icon-text span {
    margin-left: 10px; 
    transition: color 0.3s ease;
}

.nav-p {
    color:#2C3E50;
    text-decoration: none;
}

.nav-p:hover {
    color:#3f5872;
}

.form-control:focus {
    box-shadow: none;
    border-color: #333; 
}


.form-control {
    font-weight: 600;
}

.form-control:focus {
    border-width: 2px; 
    border-color: #333;
}

.form-label {
    font-weight: 600; 
}

.modal-title {
    font-weight: 600; 
}

