
.unique-product-card {
    width: 260px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .unique-product-card:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .unique-image-wrapper {
    margin: 10px;
    overflow: hidden;
    position: relative;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .unique-image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px; 
    pointer-events: none;
  }
  
  .unique-product-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    opacity: 0.9;
  }
  
  .unique-product-card:hover .unique-product-image {
    opacity: 0.7;
  }
  

  .unique-more-info-button {
    display: block;
    position: absolute;
    top: 50%;
    left: -100%; 
    transform: translateY(-50%);
    opacity: 0; 
    transition: transform 0.4s ease, opacity 0.4s ease, left 0.4s ease; 
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 0.5px;
  }
  
  .unique-product-card:hover .unique-more-info-button {
    left: 50%; 
    transform: translate(-50%, -50%); 
    opacity: 1; 
  }
  
  .unique-more-info-button:hover {
    background-color: #333;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) scale(1.05);
  }
  
  .unique-product-info {
    padding: 15px;
    text-align: left;
  }
  
  .unique-product-name {
    font-weight: bold;
    margin: 5px 0;
  }
  
  .unique-product-price {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
  }

  .unique-add-to-cart-button-wrapper {
    width: 100%; 
    display: flex;
    justify-content: center; 
  }
  
  .unique-add-to-cart-icon {
    font-size: 18px;
    color: #2C3E50;
    cursor: pointer;
    float: right;
    transition: color 0.3s;
  }
  
  .unique-add-to-cart-icon:hover {
    color: #2C3E50;
  }
  